 html {overflow-y:scroll; font-size:12px}
 body {margin:0; padding:0px 0px 0.5rem 0px; font:12px"\5B8B\4F53",sans-serif; background-color: #fff;}
 div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;border:0px;}
 table,td,tr,th{font-size:12px;}
 li{list-style-type:none;}
 img{vertical-align:middle;border:0;}
 ol,ul {list-style:none;}
 h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
 address,cite,code,em,th {font-weight:normal; font-style:normal;}
 input, button, select, textarea { outline:none;  border: 0 none;}
 a{
     text-decoration: none;
     color: #666;
 }
 .clearfix::after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;
}

i{
    font-style: normal;
}
h1,
h2,
h3,
h4{
    font-weight: normal;
}
p{
    margin-bottom: 0 ;
}
h1.mint-header-title,.mint-button-text{
    font-size: 18px;
}
.mui-table-view-cell::after {
    left:0 !important;
    background-color: #eae8f1 !important;
}
.mui-table-view::before {
    background-color: #eae8f1 !important;
}
.mui-table-view::after{
    background-color: #eae8f1 !important;
}
.mui-table-view-cell > a:not(.mui-btn){
    margin: 0 !important;
}
input{
    margin: 0px !important;
   
    border: 0px !important;
}
.mint-tab-item{
    padding: 8px 0px 8px 0px !important;
    
}
.pl-20 {
    padding-left: .1rem;
}
.nowrap2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.page-tmall {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}
.container {
    max-width: 7.2rem;
    margin: 0 auto;
}
.isolation-zone{
    width: 100%;
    height: 0.1rem;
    background-color: #f2f2f2;
}